﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: lightgray;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: #4CAF50; font-size: 28px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ">GIGS TIX</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "View")"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="@Url.Action("Contact", "View")"><span class="glyphicon glyphicon-phone"></span> Contact </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li id="admin3"></li>
                    <li id="alluser1"></li>
                    <li id="admin1"></li>
                    <li id="admin2"></li>
                    <li class="dropdown" id="seller1"></li>
                    <li class="dropdown" id="allusers2"></li>
                    <li id="user1"></li>
                    <li id="user2"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(document).ready(function () {
            if (sessionStorage.getItem('role') == "Admin") {
                $("#admin1").append('<a href="/View/AllUsers"><span class="glyphicon glyphicon-list"></span> All users</a>');
                $("#admin2").append('<a href="/View/AddSeller"><span class="glyphicon glyphicon-plus-sign"></span> Add seller</a>');
                $("#admin3").append('<a href="/View/Manifestations"> Inactive manifestations</a>');
            }
            if (sessionStorage.getItem('role') == "Seller") {
                $("#seller1").append('<a class="dropdown-toggle" data-toggle="dropdown" href="#">'+
                                    'Manifestations'+
                                    '<span class="caret"></span>'+
                                '</a>'+
                                '<ul class="dropdown-menu">'+
                                   '<li><a href="/View/Manifestations"><span class="glyphicon glyphicon-picture"></span> My manifestations</a></li>'+
                                    '<li><a href="/View/AddManifestation"><span class="glyphicon glyphicon-plus"></span> Add new manifestation</a></li>'+
                                '</ul>');
            }
            if (sessionStorage.getItem('role') != null) {
                $("#alluser1").append('<a href="/View/Tickets"><span class="glyphicon glyphicon-ticket"></span> Reserved tickets</a>');
                $("#allusers2").append('<a class="dropdown-toggle" data-toggle="dropdown" href="#">' +
                    '<span class="glyphicon glyphicon-cog"></span>' +
                    'Setings' +
                    '<span class="caret"></span>' +
                    '</a>' +
                    '<ul class="dropdown-menu">' +
                    '<li><a href="#" id="profile"><span class="glyphicon glyphicon-user"></span> My profile</a></li>' +
                    '<li><a href="#" id="change_profile"><span class="glyphicon glyphicon-pencil"></span> Change profile</a></li>' +
                    '<li><a href="#" id="changepass"><span class="glyphicon glyphicon-pencil"></span> Change password</a></li>' +
                    '<li><a href="#" id="signout"><span class="glyphicon glyphicon-log-out"></span> SignOut</a></li>' +
                    '<li><a href="#" id="delete"><span class="glyphicon glyphicon-trash"></span> Delete account</a></li>' +
                    '</ul>');
            }
            else {
                $("#user1").append('<a href="/View/SignUp"><span class="glyphicon glyphicon-user"></span> SIGN UP</a>');
                $("#user2").append('<a href="/View/SignIn"><span class="glyphicon glyphicon-log-in"></span> SIGN IN</a>');
            }
        });
        
        $('#allusers2').on('click', '#delete', function () {
            var answer = confirm("Are you sure you want to delete account?")
            var ascces_token = sessionStorage.getItem('accessToken');
            var headers = {};
            headers.Authorization = 'Bearer ' + ascces_token;
            if (answer) {
                $.ajax({
                    url: "/account/deleteaccount",
                    type: "PUT",
                    headers: headers,
                    complete: function (response) {
                        alert("You have successfully deleted your account. Bye!")
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('accesToken', ascces_token);
                    }
                });
            }
            sessionStorage.clear();
            window.location.href = "@Url.Action("Index", "View")";
        });

        $('#allusers2').on('click', '#profile', function () {
            window.location = "@Url.Action("Profile", "View")";
        });

        $('#allusers2').on('click', '#change_profile', function () {
            window.location = "@Url.Action("ChangeProfile", "View")";
        });

        $('#allusers2').on('click', '#changepass', function () {
            var myWindow = window.open("/ExtraPages/ChangePassword.html", "change", "width=700,height=400");
        });
        $('#allusers2').on('click', '#signout', function () {
            sessionStorage.clear();
            window.location = "@Url.Action("SignOut", "View")";
        });
    </script>
    @RenderSection("scripts", required: false)


</body>
</html>
