﻿button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    transform: translateY(1px);
    border: none;
}

button {
    border: none;
    border-radius: 15px;
    outline: none;
}
