﻿.description {
    font-size: 12px;
}

    .description b {
        color: #45a049;
        font-size: 13px;
    }

#search, #date {
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: #45a049;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
