﻿label {
    font-size: 20px;
    color: green;
}

input[type=text], input[type=date], select, input[type=number] {
    height: 30px;
    border-radius: 3px;
    border: none;
}


h1 {
    font-size: 64px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellowgreen;
    text-align: center;
}

input[type=submit] {
    width: 40%;
    height: 40px;
    background-color: purple;
    color: white;
    border-radius: 3px;
    border: none;
}

input[type=submit]:hover {
    background-color: mediumpurple;
}

.error {
    color: red;
}
