﻿
td.data_name {
    font-size: 24px;
    color: #4CAF50;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
}

td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.center {
    margin: auto;
    width: 90%;
    padding: 50px;
    float: right;
}

h1 {
    font-size: 36px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: -webkit-linear-gradient( #808080, #4CAF50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
