﻿input[type=email], input[type=password], input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }


form label {
    display: inline-block;
    width: 100px;
    color: #4CAF50;
}

form div {
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

label.icon input { /* hide the checkbox */
    position: absolute;
    visibility: hidden;
}

    label.icon input:checked + span { /* when input is checked */
        background-position: 0 -75px;
    }
