﻿input[type=text], input[type=password], input[type=date], input[type=email], select {
    padding: 8px 12px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form label {
    display: inline-block;
    width: 200px;
    color: #4CAF50;
}

form div {
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-left: 5px;
    font-size: 12px;
}

label.error {
    display: inline;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 40px;
    margin: 8px 160px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

label.icon input { /* hide the checkbox */
    position: absolute;
    visibility: hidden;
}

    label.icon input:checked + span { /* when input is checked */
        background-position: 0 -75px;
    }
