﻿<head>
    @Scripts.Render("~/bundles/jquery")
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <link href="~/Content/NewManifestStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" />
</head>

<div class="container-fluid">
   
    <h1>NEW MANIFESTATION</h1>
    <br /><br />
    <form id="form">
        <div class="row" style="height:40px;">
            <div class="col-md-4">
                <label for="name">Name of manifestation:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="name" name="name" placeholder="Name.." />
            </div>
        </div>

        <div class="row" style="height:40px;">
            <div class="col-md-4">
                <label for="type">Type of manifestation:</label>
            </div>
            <div class="col-md-6">
                <select name="type" id="type" style="width:175px;">
                    <option name="type" value="Koncert">Koncert</option>
                    <option name="type" value="Pozoriste">Pozoriste</option>
                    <option name="type" value="Festival">Festival</option>
                    <option name="type" value="Film">Film</option>
                </select>
            </div>
        </div>
        <div class="row" style="height:40px;">
            <div class="col-md-4">
                <label for="priceOfTicket">Price of ticket:</label>
            </div>
            <div class="col-md-6">
                <input type="number" name="priceOfTicket" id="priceOfTicket" placeholder="Price of ticket..."/>
            </div>
        </div>
        <div class="row" style="height:40px;">
            <div class="col-md-4">
                <label for="numberOfPlaces">Number of places:</label>
            </div>
            <div class="col-md-6">
                <input type="number" name="numberOfPlaces" id="numberOfPlaces" placeholder="Number of places.." />
            </div>
        </div>
        <div class="row" style="height:40px;">
            <div class="col-md-4">
                <label for="placeOfManifestation">Place of manifestation:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="city" id="city" placeholder="City..." />
                <label for="city" class="error" style="display:none;"></label>
                <label for="streetNum" hidden>Street Number:</label>
                <input type="text" name="streetNum" id="streetNum" placeholder="Street and number..." />
                <label for="streetNum" class="error" style="display:none;"></label>
                <label for="zipCode" hidden>Zip Code:</label>
                <input type="number" name="zipCode" id="zipCode" placeholder="Zip code..." />
                <label for="zipCode" class="error" style="display:none;"></label>
            </div>
        </div>
        <div class="row" style="height:40px;">
            <div class="col-md-4">
                <label for="dateOfManifestation"> Date and time of manifestation:</label>
                <label for="timeOfManifestation" hidden></label>
            </div>
            <div class="col-md-6">
                <input type="date" name="dateOfManifestation" id="dateOfManifestation"/>
                <input type="time" style=" height: 30px; border-radius: 3px; border: none;" id="timeOfManifestation" name="timeOfManifestation" />
            </div>
        </div>
        <div class="row" style="height:40px;">
            <div class="col-md-4">
                <label for="image">Upload poster of manifestation:</label>
            </div>
            <div class="col-md-6">
                <input type="file" id="image" name="image" required="" class="custom-file-input" style="color:green;" accept="image/jpg" /><br />
                <img id="poster" src="#" alt="your image" style="height:100px; width:150px;" />
            </div>
        </div>
        <div class="row" style="height:40px;">
            <div class="col-md-4">
                <input type="submit" value="Submit" />
            </div>
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#poster').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#image").change(function () {
            readURL(this);
        });

        $('#image').change(
            function () {
                var fileExtension = ['jpg'];
                if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                    alert("Only '.jpg'formats are allowed.");
                    return false;
                }
            });

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        $("form[id='form']").validate({
            rules: {
                name: 'required',
                priceOfTicket: 'required',
                numberOfPlaces: 'required',
                'city': 'required',
                'streetNum': 'required',
                'zipCode': 'required',
                dateOfManifestation: 'required',
                timeOfManifestation: 'required'
            },
            messages: {
                name: '*',
                type: '*',
                priceOfTicket: '*',
                numberOfPlaces: '*',
                'city': '*',
                'streetNum': '*',
                'zipCode': '*',
                dateOfManifestation: '*',
                timeOfManifestation: '*'
            },
            submitHandler: function () {
                var data = new FormData();
                var files = $("#image").get(0).files;
                var ascces_token = sessionStorage.getItem('accessToken');
                var headers = {};
                headers.Authorization = 'Bearer ' + ascces_token;
                // Add the uploaded image content to the form data collection
                if (files.length > 0) {
                    data.append("UploadedImage", files[0]);
                }

                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/seller/upload",
                    contentType: false,
                    processData: false,
                    data: data,
                    headers: headers,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('accesToken', ascces_token);
                    }
                });

                var $form = $("#form");
                var data = getFormData($form);
                var image_name = $("#image").val().split('\\').pop();
                var manifest = {
                    "Name": data.name,
                    "Type": data.type,
                    "PriceOfTicket": data.priceOfTicket,
                    "NumberOfPlaces": data.numberOfPlaces,
                    "DateOfManifestation": data.dateOfManifestation,
                    "TimeOfManifestation": data.timeOfManifestation,
                    "PlaceOfManifestation": {
                        "Street_Num": data.streetNum,
                        "City": data.city,
                        "ZipCode": data.zipCode
                    },
                    "Image": image_name
                };
                var username = sessionStorage.getItem('username');
                var role = sessionStorage.getItem('role');
                
                
                $.ajax({
                    url: "/seller/newmanifestation",
                    type: "POST",
                    data: JSON.stringify(manifest),
                    contentType: "application/json",
                    dataType: "json",
                    headers: headers,
                    complete: function (response) {
                        alert(response.responseText);
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('accesToken', ascces_token);
                    }
                });

            }
        });
        $("#form").removeAttr("novalidate");
    </script>
</div>

