﻿
@{
    ViewBag.Title = "AllUsers";
}

<head>
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/AllUsersStyle.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var ascces_token = sessionStorage.getItem('accessToken');
            var headers = {};
            headers.Authorization = 'Bearer ' + ascces_token;
            $.ajax({
                url: "/admin/getAllUsers",
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                headers: headers,
                complete: function (data, status) {
                    $("tbody#allusres").empty();
                    for (var i = 0; i < data.responseJSON.length; i++) {
                        $("tbody#allusres").append('<tr>' +
                            '<td class= "name" >' + data.responseJSON[i].Name + '</td>' +
                            '<td class="surname">' + data.responseJSON[i].Surname + '</td>' +
                            '<td id="username">' + data.responseJSON[i].Username + '</td>' +
                            '<td class="dateofbday">' + data.responseJSON[i].DateOfBDay + '</td>' +
                            '<td class="gender">' + data.responseJSON[i].Gender + '</td>' +
                            '<td class="role">' + data.responseJSON[i].Role + '</td>' +
                            '<td class="points">' + data.responseJSON[i].Points + '</td>' +
                            '<td class="type">' + data.responseJSON[i].Type + '</td>' +
                            '<td> <button style="background-color: #4CAF50; color: white;" id="delete">Delete</button></td>' +
                            '</tr >');
                    }
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('accesToken', ascces_token);
                }
            });
        });
    </script>
    <style>
        input[type=text], input[type=date], #button {
            border-radius: 4px;
            border: none;
            text-align: center;
        }

        #button {
            background-color: greenyellow;
            width: 70px;
            transition-duration: 0.4s;
        }

        #button:hover {
            background-color: yellowgreen;
            color: white;
        }
    </style>
</head>
<div>
    <h2 style="text-align:center;">AllUsers</h2><br />
    <div style="margin: auto;width: 50%;border: 1px solid green; background-color:forestgreen;border-radius: 8px; padding: 7px; text-align: center; display:block;">
        <form id="search_form">
            <input style="width:150px; padding:5px;" type="text" id="name" name="name" placeholder="Name..">
            <input style="width:150px; padding:5px;" type="text" id="surname" name="surname" placeholder="Surname..">
            <input style="width:100px; padding:5px;" type="text" id="username" name="username" placeholder="Username..">
            &nbsp;
            <input type="button" id="button" value="Search" onclick="Search()" />
        </form>
    </div><br /><br />
    <div>
        <form class="form-inline" id="sort_form">
            <a onclick="Sort()"><span class="glyphicon glyphicon-sort"></span></a>
            <div class="form-group">
                <select name="order" id="order" style="height:30px;border: 1px solid #ccc;border-radius: 4px;">
                    <option name="order" value="Increase">Increase</option>
                    <option name="order" value="Decrease">Decrease</option>
                </select>
            </div>
            <div class="form-group">
                <select name="sort_by" id="sort_by" style="height:30px;border: 1px solid #ccc;border-radius: 4px;">
                    <option name="sort_by" value="Name">Name</option>
                    <option name="sort_by" value="Surname">Surname</option>
                    <option name="sort_by" value="Username">Username</option>
                    <option name="sort_by" value="Points">The number of collected points</option>
                </select>
            </div>
            <a onclick="FilterRole()"><span class="glyphicon glyphicon-filter"></span></a>
            <div class="form-group">
                <select name="filter1" id="filter1" style="height:30px;border: 1px solid #ccc;border-radius: 4px;">
                    <option name="order" value="Seller">Seller</option>
                    <option name="order" value="Customer">Customer</option>
                </select>
            </div>
            <a onclick="FilterType()"><span class="glyphicon glyphicon-filter"></span></a>
            <div class="form-group">
                <select name="filter2" id="filter2" style="height:30px;border: 1px solid #ccc;border-radius: 4px;">
                    <option name="order" value="Gold">Gold</option>
                    <option name="order" value="Silver">Silver</option>
                    <option name="order" value="Bronze">Bronze</option>
                    <option name="order" value="Regular">Regular</option>
                </select>
            </div>
        </form>
    </div><br />

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Username</th>
                <th>Date of birthday</th>
                <th>Gender</th>
                <th>Role</th>
                <th>Points</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody id="allusres"></tbody>
    </table>

    <script type="text/javascript">
        $('#allusres').on('click', '#delete', function (event) {
            var tr = $(this).closest('tr');
            var name = tr.find('.name').text();
            var surname = tr.find('.surname').text();
            var username = tr.find('#username').text();
            var dateofbday = tr.find('.dateofbday').text();
            var role = tr.find('.role').text();
            var gender = tr.find('.gender').text();
            var points = tr.find('.points').text();
            var type = tr.find('.type').text();

            var jsonObject = {
                "Name": name,
                "Surname": surname,
                "Username": username,
                "DateOfBDay": dateofbday,
                "Role": role,
                "Gender": gender,
                "Points": points,
                "Type": type
            };
            
            var answer = confirm('Are you sure you want to delete this?');
            if (answer) {
                var user = JSON.stringify(jsonObject)
                var ascces_token = sessionStorage.getItem('accessToken');
                var headers = {};
                headers.Authorization = 'Bearer ' + ascces_token;

                $.ajax({
                    url: "/admin/deleteuser",
                    type: "PUT",
                    data: user,
                    contentType: "application/json",
                    dataType: "json",
                    headers: headers,
                    complete: function (response) {
                        if (response.responseJSON == "success") {
                            alert(response.responseJSON);
                            window.location.reload();
                        }
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('accesToken', ascces_token);
                    }
                });
            }
            else {
                console.log('cancel');
            }
        });

        function getUsers() {
            var allusers = [];
            var users = document.getElementById("allusres");
            for (var i = 0; i < users.children.length; i++) {
                var name = users.children[i].children[0].innerHTML;
                var surname = users.children[i].children[1].innerText;
                var username = users.children[i].children[2].innerText;
                var dateofBday = users.children[i].children[3].innerText;
                var gender = users.children[i].children[4].innerText;
                var role = users.children[i].children[5].innerText;
                var points = users.children[i].children[6].innerText;
                var type = users.children[i].children[7].innerText;
                var user = {
                    "Name": name,
                    "Surname": surname,
                    "Username": username,
                    "DateOfBday": dateofBday,
                    "Gender": gender,
                    "Role": role,
                    "Points": points,
                    "Type": type
                };
                allusers.push(user);
            }
            return allusers;
        }

        //search all users
        function Search() {
            var name = $("#name").val();
            var surname = $("#surname").val();
            var username = $("#username").val();
            var ascces_token = sessionStorage.getItem('accessToken');
            var headers = {};
            headers.Authorization = 'Bearer ' + ascces_token;

            $.ajax({
                url: "/admin/search",
                type: "GET",
                data: {
                    'name': name,
                    'surname': surname,
                    'username': username
                },
                headers: headers,
                contentType: "application/json",
                complete: function (data) {
                    $("tbody#allusres").empty();
                    for (var i = 0; i < data.responseJSON.length; i++) {
                        $("tbody#allusres").append('<tr>' +
                            '<td class= "name" >' + data.responseJSON[i].Name + '</td>' +
                            '<td class="surname">' + data.responseJSON[i].Surname + '</td>' +
                            '<td id="username">' + data.responseJSON[i].Username + '</td>' +
                            '<td class="dateofbday">' + data.responseJSON[i].DateOfBDay + '</td>' +
                            '<td class="gender">' + data.responseJSON[i].Gender + '</td>' +
                            '<td class="role">' + data.responseJSON[i].Role + '</td>' +
                            '<td> <button style="background-color: #4CAF50; color: white;" id="delete">Delete</button></td>' +
                            '</tr >');
                    }
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('accesToken', ascces_token);
                }
            });
        }

        function FilterRole() {
            var data = [];
            data = getUsers();
            var filterType = $("#filter1 option:selected").val();
            var users = [];

            for (var i = 0; i < data.length; i++) {
                if (data[i].Role == filterType) {
                    users.push(data[i]);
                }
            }
            $("tbody#allusres").empty();
            for (var i = 0; i < users.length; i++) {
                $("tbody#allusres").append('<tr>' +
                    '<td class= "name" >' + users[i].Name + '</td>' +
                    '<td class="surname">' + users[i].Surname + '</td>' +
                    '<td id="username">' + users[i].Username + '</td>' +
                    '<td class="dateofbday">' + users[i].DateOfBday + '</td>' +
                    '<td class="gender">' + users[i].Gender + '</td>' +
                    '<td class="role">' + users[i].Role + '</td>' +
                    '<td class="type">' + users[i].Type + '</td>' +
                    '<td> <button style="background-color: #4CAF50; color: white;" id="delete">Delete</button></td>' +
                    '</tr>');
            }
        };

        function FilterType() {
            var data = [];
            data = getUsers();
            var filterType = $("#filter2 option:selected").val();
            var users = [];

            for (var i = 0; i < data.length; i++) {
                if (data[i].Type == filterType) {
                    users.push(data[i]);
                }
            }
            $("tbody#allusres").empty();
            for (var i = 0; i < users.length; i++) {
                $("tbody#allusres").append('<tr>' +
                    '<td class= "name" >' + users[i].Name + '</td>' +
                    '<td class="surname">' + users[i].Surname + '</td>' +
                    '<td id="username">' + users[i].Username + '</td>' +
                    '<td class="dateofbday">' + users[i].DateOfBday + '</td>' +
                    '<td class="gender">' + users[i].Gender + '</td>' +
                    '<td class="role">' + users[i].Role + '</td>' +
                    '<td class="type">' + users[i].Type + '</td>' +
                    '<td> <button style="background-color: #4CAF50; color: white;" id="delete">Delete</button></td>' +
                    '</tr>');
            }
        };

        //sort
        function SortBy(a, b) {
            var sort_by = $("#sort_by").val();
            var order = $("#order").val();
            var aValue = "";
            var bValue = "";
            if (sort_by == "Name") {
                aValue = a.Name.toLowerCase();
                bValue = b.Name.toLowerCase();
            }
            else if (sort_by == "Surname") {
                aValue = a.Surname.toLowerCase();
                bValue = b.Surname.toLowerCase();
            }
            else if (sort_by == "Username") {
                aValue = a.Username.toLowerCase();
                bValue = b.Username.toLowerCase();
            }
            else if (sort_by == "Points") {
                aValue = a.Points;
                bValue = b.Points;
            }

            if (order == "Increase") {
                return ((aValue < bValue) ? -1 : ((aValue > bValue) ? 1 : 0));
            }
            else {
                return ((aValue > bValue) ? -1 : ((aValue < bValue) ? 1 : 0));
            }
        }

        function Sort() {
            var datas = [];
            datas = getUsers();

            var users = [];
            users = datas.sort(SortBy);
            $("tbody#allusres").empty();
            for (var i = 0; i < users.length; i++) {
                $("tbody#allusres").append('<tr>' +
                    '<td class= "name" >' + users[i].Name + '</td>' +
                    '<td class="surname">' + users[i].Surname + '</td>' +
                    '<td id="username">' + users[i].Username + '</td>' +
                    '<td class="dateofbday">' + users[i].DateOfBday + '</td>' +
                    '<td class="gender">' + users[i].Gender + '</td>' +
                    '<td class="role">' + users[i].Role + '</td>' +
                    '<td class="points">' + users[i].Points + '</td>' +
                    '<td class="type">' + users[i].Type + '</td>' +
                    '<td> <button style="background-color: #4CAF50; color: white;" id="delete">Delete</button></td>' +
                    '</tr>');
            }
        };
    </script>
</div>
