﻿<head>
    @Scripts.Render("~/bundles/jquery")
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <link href="~/Content/SignUpStyle.css" rel="stylesheet" />

    <script>
        var ascces_token = sessionStorage.getItem('accessToken');
        var headers = {};
        headers.Authorization = 'Bearer ' + ascces_token;
        $.ajax({
            url: "/account/getuserinfo",
            type: "GET",
            headers: headers,
            contentType: "application/json",
            dataType: "json",
            complete: function (response) {
                var gender;
                if (response.responseJSON.Gender == "Male") {
                    gender = "Female";
                }
                else {
                    gender = "Male";
                }
                $("form#form").append('<br/><br/>' +
                    '<div>' +
                    '<label for="name">Name</label>' +
                    '<input type="text" id="name" name="name" placeholder="Name.." value="' + response.responseJSON.Name + '">' +
                    '</div>' +
                    '<div>' +
                    '<label for="surname">Surname</label>' +
                    '<input type="text" id="surname" name="surname" placeholder="Surname.." value="' + response.responseJSON.Surname + '">' +
                    '</div>' +
                    '<div>' +
                    '<label for="dateOfBDay">Date of BirthDay: </label>' +
                    '<input type="date" id="dateOfBDay" name="dateOfBDay" value=' + response.responseJSON.DateOfBDay + '>' +
                    '</div>' +
                    '<div>' +
                    '<label for="gender">Gender</label>' +
                    '<select name="gender" id="gender">' +
                    '<option name="gender"  value="' + response.responseJSON.Gender + '">' + response.responseJSON.Gender + '</option>' +
                    '<option name="gender"  value="' + gender + '">' + gender + '</option > ' +
                    '</select >' +
                    '</div>' +
                    '<div>' +
                    '<input type="submit" id="submit" value="Submit" />' +
                    '</div>')
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader('accesToken', ascces_token);
            }
        });

    </script>
</head>

<div style="width:700px; margin:0 auto;">
    <div id="userinfo">
        <form id="form"></form>
    </div>
    <script>
        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }
        jQuery.validator.addMethod("lettersonly", function (value, element) {
                return this.optional(element) || /^[a-zA-Z]+$/i.test(value);
            }, "Letters only please");


            $("form[id='form']").validate({
                rules: {
                    name: {
                        required: true,
                        lettersonly: true
                    },
                    surname: 'required',
                    username: {
                        required: true,
                    },
                    'password': {
                        required: true,
                        minlength: 8,
                    },
                    dateOfBDay: 'required',
                    'gender': {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: 'This field is required',
                        lettersonly: 'Name must contain only letters'
                    },
                    surname: {
                        required: 'This field is required',
                        lettersonly: 'Surname must contain only letters'
                    },
                    password: {
                        required: 'This field is required',
                        minlength: 'Password must be at least 8 characters long'
                    },
                    dateOfBDay: 'This field is required',
                    gender: 'This field is required'
                },
                submitHandler: function () {
                    var $form = $("#form");
                    var data = getFormData($form);
                    var user = JSON.stringify(data);
                    var ascces_token = sessionStorage.getItem('accessToken');
                    var headers = {};
                    headers.Authorization = 'Bearer ' + ascces_token;
                    $.ajax({
                        url: "/account/changeprofile",
                        type: "PUT",
                        data: user,
                        headers: headers,
                        contentType: "application/json",
                        complete: function (response) {
                            alert("You have successfully made the change.")
                            window.location = "@Url.Action("Profile", "View")";
                        },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('accesToken', ascces_token);
                        }
                    });
                }
            });
        $("#form").removeAttr("novalidate");
    </script>
</div>

