﻿<head>
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/NewManifestStyle.css" rel="stylesheet" />
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <style>
        td {
            width: 500px;
            text-align: right;
            font-size: 24px;
        }

        td.data_name {
            font-size: 24px;
            text-align: left;
            font-weight: 600;
        }

        table, td {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: green;
        }
    </style>
    <script>
        var ascces_token = sessionStorage.getItem('accessToken');
        var headers = {};
        headers.Authorization = 'Bearer ' + ascces_token;
        $.ajax({
            url: "/user/manifestation/" + name,
            type: "GET",
            headers: headers,
            success: function (data, status) {
                $("form#form").empty();
                $("div#image").empty();
                $("div#image").append('<img id="poster" src="/Images/' + data.Image + '" alt="Lights" style="width:100%; height=50px;">');
                $("h2#title").append(data.Name);
                $("form#form").append('<div class="row" style="height:40px;">' +
                    '<div class="col-md-4">' +
                    '<label for="name" hidden>Name:</label>' +
                    '</div>' +
                    '<div class="col-md-6">' +
                    '<input type="text" hidden name="name" id="name" placeholder="Name of manifestation..." value="' + data.Name + '"/>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row" style="height:40px;">' +
                    '<div class="col-md-4">' +
                    '<label for="type">Type of manifestation:</label>' +
                    '</div>' +
                    '<div class="col-md-6">' +
                    '<select name="type" id="type" style="width:175px;">' +
                    '<option name="type" value=' + data.Type + '>' + data.Type + '</option>' +
                    '<option name="type" value="Koncert">Koncert</option>' +
                    '<option name="type" value="Pozoriste">Pozoriste</option>' +
                    '<option name="type" value="Festival">Festival</option>' +
                    '<option name="type" value="Film">Film</option>' +
                    '</select>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row" style="height:40px;">' +
                    '<div class="col-md-4">' +
                    '<label for="priceOfTicket">Price of ticket:</label>' +
                    '</div>' +
                    '<div class="col-md-6">' +
                    '<input type="number" name="priceOfTicket" id="priceOfTicket" placeholder="Price of ticket..." value="' + data.PriceOfTicket + '"/>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row" style="height:40px;">' +
                    '<div class="col-md-4">' +
                    '<label for="numberOfPlaces">Number of places:</label>' +
                    '</div>' +
                    '<div class="col-md-6">' +
                    '<input type="number" name="numberOfPlaces" id="numberOfPlaces" placeholder="Number of places.."value="' + data.NumberOfPlaces + '"/>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row" style="height:50px;">' +
                    '<div class="col-md-4">' +
                    '<label for="city">Place of manifestation:</label>' +
                    '</div>' +
                    '<div class="col-md-6">' +
                    '<input type="text" name="city" id="city" placeholder="City..." value="' + data.PlaceOfManifestation.City + '"/>' +
                    '<label for="city" class="error" style="display:none;"></label>' + '<br/>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row" style="height:50px;">' +
                    '<div class="col-md-4">' +
                    '<label for="streetNum" hidden>Street Number:</label>' +
                    '</div>' +
                    '<div class="col-md-6">' +
                    '<input type="text" name="streetNum" id="streetNum" placeholder="Street and number..." value="' + data.PlaceOfManifestation.Street_Num + '"/>' +
                    '<label for="streetNum" class="error" style="display:none;"></label>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row" style="height:50px;">' +
                    '<div class="col-md-4">' +
                    '<label for="zipCode" hidden>Zip Code:</label>' +
                    '</div>' +
                    '<div class="col-md-6">' +
                    '<input type="number" name="zipCode" id="zipCode" placeholder="Zip code..." value="' + data.PlaceOfManifestation.ZipCode + '"/>' +
                    '<label for="zipCode" class="error" style="display:none;"></label>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row" style="height:40px;">' +
                    '<div class="col-md-4">' +
                    '<label for="dateOfManifestation"> Date of manifestation:</label>' +
                    '</div>' +
                    '<div class="col-md-6">' +
                    '<input type="date" name="dateOfManifestation" id="dateOfManifestation" value="' + data.DateOfManifestation + '"/>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row" style="height:40px;">' +
                    '<div class="col-md-4">' +
                    '<label for="timeOfManifestation"> Time of manifestation:</label>' +
                    '</div>' +
                    '<div class="col-md-6">' +
                    '<input type="time" name="timeOfManifestation" id="timeOfManifestation" value="' + data.TimeOfManifestation + '"/>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row" style="height:40px;">' +
                    '<div class="col-md-4">' +
                    '<label for="image">Upload poster of manifestation:</label>' +
                    '</div>' +
                    '<div class="col-md-6">' +
                    '<input type="file" id="image" name="image" class="custom-file-input" style="color:green;" accept="image/jpg"/><br />' +
                    '</div>' +
                    '</div>' + '<br/><br/><br/>' +
                    '<div class="row" style="height:40px;">' +
                    '<div class="col-md-4">' +
                    '<input type="submit" value="Change"  id="submit"/>' +
                    '</div>' +
                    '</div>')
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader('accesToken', ascces_token);
            }
        });
    </script>
</head>
<div class="container-fluid">
    <h2 id="title" style="color:darkslategrey"></h2><br />
    <div class="row">
        <div class="col-md-8">
            <div id="event">
                <form id="form"></form>
            </div>
        </div>
        <div class="col-md-4">
            <div id="image">
            </div>
        </div>
    </div>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#poster').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("div#image").on("change", "#poster", function () {
            readURL(this);
            var fileExtension = ['jpg'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.jpg'formats are allowed.");
                return false;
            }
        });



        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        
            $("form[id='form']").validate({
                rules: {
                    name: 'required',
                    priceOfTicket: 'required',
                    numberOfPlaces: 'required',
                    'city': 'required',
                    'streetNum': 'required',
                    'zipCode': 'required',
                    dateOfManifestation: 'required',
                    timeOfManifestation: 'required'
                },
                messages: {
                    name: '*',
                    type: '*',
                    priceOfTicket: '*',
                    numberOfPlaces: '*',
                    'city': '*',
                    'streetNum': '*',
                    'zipCode': '*',
                    dateOfManifestation: '*',
                    timeOfManifestation: '*'
                },
                submitHandler: function () {
                    var data = new FormData();
                    var files = $("#image").get(0).files;
                    var ascces_token = sessionStorage.getItem('accessToken');
                    var headers = {};
                    headers.Authorization = 'Bearer ' + ascces_token;
                    // Add the uploaded image content to the form data collection
                    if (files.length > 0) {
                        data.append("UploadedImage", files[0]);
                    }

                    var ajaxRequest = $.ajax({
                        type: "POST",
                        url: "/seller/upload",
                        contentType: false,
                        processData: false,
                        data: data,
                        headers: headers,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('accesToken', ascces_token);
                        }
                    });

                    var $form = $("#form");
                    var data = getFormData($form);
                    var image_name = $("#image").val().split('\\').pop();
                    var manifest = {
                        "Name": data.name,
                        "Type": data.type,
                        "PriceOfTicket": data.priceOfTicket,
                        "NumberOfPlaces": data.numberOfPlaces,
                        "DateOfManifestation": data.dateOfManifestation,
                        "TimeOfManifestation": data.timeOfManifestation,
                        "PlaceOfManifestation": {
                            "Street_Num": data.streetNum,
                            "City": data.city,
                            "ZipCode": data.zipCode
                        },
                        "Image": image_name
                    };


                    $.ajax({
                        url: "/seller/changeManifestation",
                        type: "PUT",
                        data: JSON.stringify(manifest),
                        contentType: "application/json",
                        dataType: "json",
                        headers: headers,
                        complete: function (response) {
                            alert(response.responseText);
                            window.location = "@Url.Action("Manifestations", "View")";
                        },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('accesToken', ascces_token);
                        }
                    });

                }
            });
            $("#form").removeAttr("novalidate");
    </script>
</div>

