﻿@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<div>
    <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td rowspan="6" valign="top" width="100">Addresa:     </td>
            </tr>
            <tr>
                <td valign="top">
                    Kralja Aleksandra 12<br />
                    Pariski magazin, lokal 19<br />
                    21000 Novi Sad
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td width="100">
                    E-mail:
                </td>
                <td>
                    <a href="mailto:teodorakocan@gmail.com">tix@gigstix.com</a>
                </td>
            </tr>
            <tr>
                <td width="100">
                    Telefon:
                </td>
                <td>
                    021/472-4816 (u radno vreme)
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td width="100" valign="top">
                    Informacije:
                </td>
                <td>
                    Radno vreme:<br />
                    radnim danima od 9h do 19:30h<br />
                    subotom od 10h do 19:30h
                </td>
            </tr>
        </tbody>
    </table>
</div>