﻿
<head>
    @Scripts.Render("~/bundles/jquery")
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <style>
        td {
            width: 500px;
            text-align: right;
            font-size: 24px;
        }

            td.data_name {
                font-size: 24px;
                text-align: left;
                font-weight: 600;
            }

        table, td {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: green;
        }

        #button {
            background-color: green;
            width: 150px;
            height: 50px;
            transition-duration: 0.4s;
            border-radius: 4px;
            border: none;
            font-size:16px;
            color: white;
            text-align: center;
        }

        #button:hover {
            background-color: yellowgreen;
        }

        input[type=number] {
            border-radius: 4px;
            border: none;
            text-align: center;
            width: 50px;
        }
    </style>
    <script>
        function GetURLParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return decodeURIComponent(sParameterName[1]);
                }
            }
        }
        var name = GetURLParameter('name').replace('.', '');

        $(document).ready(function () {
            $.ajax({
                url: "/user/manifestation/" + name,
                success: function (data, status) {
                    $("div#event").empty();
                    $("div#image").empty();
                    var time = data.TimeOfManifestation;
                    var times = time.split(':');
                    var Time = times[0] + ":" + times[1];
                    var date = data.DateOfManifestation.split('-');
                    var Date = date[2] + "." + date[1] + "." + date[0] + ".";
                    $("div#image").append('<img src="/Images/' + data.Image + '" alt="Lights" style="width:100%; height=50px;">')
                    $("div#event").append('< table > ' +
                        '<tr>' +
                        '<td class="data_name">Name of manifestation:</td>' +
                        '<td>' + data.Name + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Type of manifestation:</td>' +
                        '<td>' + data.Type + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Date of manifestation:</td>' +
                        '<td>' + Date + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Time of manifestation:</td>' +
                        '<td>' + Time + 'h' + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Place number:</td>' +
                        '<td>' + data.NumberOfPlaces + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Number of tickets:</td>' +
                        '<td>' + data.NumberOfTickets + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Price of ticket:</td>' +
                        '<td>' + data.PriceOfTicket + ',00rsd' + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Status:</td>' +
                        '<td>' + data.Status + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Place of manifestation:</td>' +
                        '<td>' + data.PlaceOfManifestation.City + "," + data.PlaceOfManifestation.Street_Num + '</td >' +
                        '</tr>' +
                        '</table>')
                    if (sessionStorage.getItem('role') == "Admin") {
                        if (data.Status == "Inactive") {
                            $("#div").append('<button id="button">Activ manifestation</button>')
                        }
                        var ascces_token = sessionStorage.getItem('accessToken');
                        var headers = {};
                        headers.Authorization = 'Bearer ' + ascces_token;
                        $("#div").on("click", "#button", function () {
                            $.ajax({
                                url: "/admin/active/" + data.Name,
                                type: "PUT",
                                headers: headers,
                                success: function (response) {
                                    alert("Manifestation is now active!")
                                    window.location.href = "@Url.Action("Manifestations", "View")";
                                },
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader('accesToken', ascces_token);
                                }
                            });
                        });
                    }
                    else if (sessionStorage.getItem('role') == "Seller") {
                        //proveri da li manifestacija pripada tom korisniku ako pripada prikazi dugme
                        var ascces_token = sessionStorage.getItem('accessToken');
                        var headers = {};
                        var name = data.Name;
                        headers.Authorization = 'Bearer ' + ascces_token;
                        $.ajax({
                            url: "/seller/check/" + data.Name,
                            headers: headers,
                            success: function (data, status) {
                                if (data) {
                                    $("#div").append('<a href="/View/ChangeManifestaion?name=' + name + '" class="btn btn-primary">Edit manifestation</button>');
                                }
                            },
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('accesToken', ascces_token);
                            }
                        });

                    }
                    else if (sessionStorage.getItem('role') == "Customer") {
                        var name = data.Name;
                        $.ajax({
                            url: "/user/manifestation/" + name,
                            type: "GET",
                            success: function (data, status) {
                                var fanpit = data.PriceOfTicket * 2;
                                var vip = data.PriceOfTicket * 4;
                                $("div#div").append('<label style="color:green; font-size:24px;">Reserve ticekets</label>');
                                $("table#table").append(
                                    '<tr>' +
                                    '<td>Fan pit</td>' +
                                    '<td><text class="txt" type="text" id="fanpit-price" value="' + fanpit + '"/>' + fanpit + ',00rsd</td>' +
                                    '<td><input type="number" id="fanpit-qty" class="qty-txt" value="0" min="0"/></td>' +
                                    '</tr>' +
                                    '<tr>' +
                                    '<td>VIP</td>' +
                                    '<td> <text class="txt" type="text" id="vip-price" value="' + vip + '" />' + vip + ',00rsd</td>' +
                                    '<td><input type="number" id="vip-qty" class="qty-txt" value="0" min="0"/></td>' +
                                    '</tr>' +
                                    '<tr>' +
                                    ' <td>Regular</td>' +
                                    '<td><text class="txt" type="text" id="regular-price" value="' + data.PriceOfTicket + '" />' + data.PriceOfTicket + ',00rsd</td>' +
                                    '<td><input type="number" id="regular-qty" class="qty-txt" value="0" min="0"/></td>' +
                                    '</tr>');
                                $("div#total").append(
                                    '<div id="summation">'+
                                        '<label align="right" style="color:green; font-size: 20px;">Total :</label>'+
                                        '<label>&nbsp;</label>'+
                                        '<label align="center" style="font-size:18px;"><span id="sum">0</span></label>'+
                                    '</div>' +
                                    '<div id="summation">' +
                                        '<label align="right" style="color:green; font-size: 20px;">Number of tickets :</label>' +
                                        '<label>&nbsp;</label>' +
                                        '<label align="center" style="font-size:18px;"><span id="tickets">0</span></label>' +
                                    '</div>')
                                $("table#table").on("change","input", function () {

                                    var sum = 0;
                                    var tickets = 0;

                                    //iterate through each select and multiply the values
                                    $("input").each(function () {
                                        var price = 0;
                                        thisID = $(this).attr("id").replace("-qty", "-price");
                                        if (thisID == "fanpit-price") {
                                            var price = fanpit;
                                        }
                                        else if (thisID == "vip-price") {
                                            price = vip;
                                        }
                                        else if (thisID == "regular-price"){
                                            price = data.PriceOfTicket;
                                        }
                                        sum = sum + (parseInt($(this).val()) * parseInt(price));
                                        tickets = tickets + (parseInt($(this).val()));
                                    });
                                    var ascces_token = sessionStorage.getItem('accessToken');
                                    var headers = {};
                                    headers.Authorization = 'Bearer ' + ascces_token;
                                    var total = 0;
                                    $.ajax({
                                        url: "/customer/getusertype",
                                        type: "GET",
                                        headers: headers,
                                        success: function (data) {
                                            if (data.Name == "Silver") {
                                                var discount = 0;
                                                discount = sum / 100 * data.Discount;
                                                total += sum - discount;
                                                $("#sum").html(total.toFixed(2));
                                            }
                                            else if (data.Name == "Gold") {
                                                var discount = 0;
                                                discount = sum / 100 * data.Discount;
                                                total += sum - discount;
                                                $("#sum").html(total.toFixed(2));
                                            }
                                            else {
                                                total += sum;
                                                $("#sum").html(total.toFixed(2));
                                            }
                                           
                                        },
                                        beforeSend: function (xhr) {
                                            xhr.setRequestHeader('accesToken', ascces_token);
                                        }
                                    })
                                    //.toFixed() method will roundoff the final sum to 2 decimal places
                                   
                                    $("#tickets").html(tickets);
                                });
                                $("div#reserve").append('<button id="button">Reserve</button>')
                                $("div#reserve").on("click", "#button", function () {
                                    var ascces_token = sessionStorage.getItem('accessToken');
                                    var headers = {};
                                    var total_tickets = Number($("#tickets").text())
                                    var total_price = Number($("#sum").text().replace(/[^0-9\.]+/g, ""))
                                    var jsonObj = {
                                        "Total_price": total_price,
                                        "NumberOfFanpit": $("#fanpit-qty").val(),
                                        "NumberOfVIP": $("#vip-qty").val(),
                                        "NumberOfRegular": $("#regular-qty").val(),
                                        "NameOfManifest": data.Name,
                                        "TotalTickets": total_tickets
                                    }

                                    headers.Authorization = 'Bearer ' + ascces_token;
                                    $.ajax({
                                        url: "/customer/reserve",
                                        type: "POST",
                                        data: jsonObj,
                                        headers: headers,
                                        success: function (data, status) {
                                            alert(data + " Total price is " + total_price +",00rsd");
                                        },
                                        beforeSend: function (xhr) {
                                            xhr.setRequestHeader('accesToken', ascces_token);
                                        }
                                    })
                                });
                            }
                        });
                    }
                }
            });
        });
    </script>
</head>
<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-md-8">
            <div id="event">
            </div>
        </div>
        <div class="col-md-4">
            <div id="image">
            </div>
        </div>
    </div><br /><br /><br />
    <div class="row">
        <div class="col-md-8">
            <div id="div">
            </div>
            <table width="300px" style="border-collapse:collapse;" id="table"></table><br />
            <div id="total">

            </div><br />
            <div id="reserve">

            </div>
        </div>
    </div>
    <script>

    </script>
</div>

