﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" />
    <style>
        input[type=text], input[type=date], #button {
            border-radius: 4px;
            border: none;
            text-align: center;
        }

        #button {
            background-color: greenyellow;
            width: 70px;
            transition-duration: 0.4s;
        }

            #button:hover {
                background-color: yellowgreen;
                color: white;
            }

        h1 {
            color: #45a049;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 72px;
            background-color: red;
            /* Create the gradient. */
            background-image: linear-gradient(45deg, #ecf013, #f00a24);
            background-size: 100%;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }
    </style>

    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            $.get("/user/getManifestations", function (data, status) {
                $("div#event").empty();

                for (var i = 0; i < data.length; i++) {
                    var date = data[i].DateOfManifestation.split('-');
                    var Date = date[2] + "." + date[1] + "." + date[0] + ".";
                    $("div#event").append('<div class="col-md-4 col-lg-3">' +
                        '<div class="thumbnail" style="border: 2px solid #ccc; border-color: #45a049; background:transparent;">' +
                        '<a href="/View/Event?name=' + data[i].Name + '" target="_blank">' +
                        '<div class="caption">' +
                        '<p class="type" style="font-size:18px;color:#45a049">' + data[i].Type + '</p>' +
                        '</div>' +
                        '<img src="/Images/' + data[i].Image + '" alt="Lights" style="width:100%; height:150px">' +
                        '</a>' +
                        '<div class="caption">' +
                        '<p class="name" style="font-size:10px;">' + data[i].Name + '</p>' +
                        '<p class="palce" style="font-size:10px;">' + data[i].PlaceOfManifestation.City + "," + data[i].PlaceOfManifestation.Street_Num + '</p>' +
                        '<p class="price" style="font-size:10px;">' + data[i].PriceOfTicket + ',00rsd</p>' +
                        '<p class="datetime" style="font-size:10px;">' + Date + "god " + data[i].TimeOfManifestation + 'h</p>' +
                        '<p class="places" style="font-size:10px;" hidden>' + data[i].NumberOfTickets + '</p>' +
                        '</div>' +
                        '</div>' +
                        '</div>');
                }
            });
        });
    </script>
</head>

<div class="container-fluid">
    <div>
        <h1>MANIFESTATIONS</h1><br /><br />

        <div style="margin: auto;width: 80%;border: 1px solid green; background-color:forestgreen;border-radius: 8px; padding: 7px; text-align: center; display:block;">
            <form id="search_form">
                <input style="width:150px; padding:5px;" type="text" id="name" name="name" placeholder="Exit..">
                <input style="width:150px; padding:5px;" type="text" id="place" name="place" placeholder="Novi Sad..">
                <input style="width:100px; padding:5px;" type="text" id="priceFrom" name="priceFrom" placeholder="100,00din">
                <label>-</label>
                <input style="width:100px; padding:5px;" type="text" id="priceTo" name="priceTo" placeholder="1000,00din">
                <span style="background: #fff; cursor: pointer; padding:7px 10px; border-radius: 4px; ">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i><input type="text" name="daterange" id="date" value="01/01/2020 - 01/15/2020" />
                </span>&nbsp;
                <input type="button" id="button" value="Search" onclick="Search()" />
            </form>
        </div><br />
    </div><br />

    <div class="row">
        <div class="col-md-2">
            <div>
                <div style="height:70px;"></div>
                <p style="color:#45a049;font-size:18px">Filter by:</p>
                <form>
                    <input type="checkbox" name="filter" value="sold" /> Sold manifestations <br />
                    <input type="checkbox" name="filter" value="unsold" /> Unsold manifestations <br />
                </form>
            </div>
        </div>
        <div class="col-md-10">
            <form class="form-inline" id="sort_form">
                <a onclick="Sort()"><span class="glyphicon glyphicon-sort"></span></a>
                <div class="form-group">
                    <select name="order" id="order" style="height:30px;border: 1px solid #ccc;border-radius: 4px;">
                        <option name="order" value="Increase">Increase</option>
                        <option name="order" value="Decrease">Decrease</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="sort_by" id="sort_by" style="height:30px;border: 1px solid #ccc;border-radius: 4px;">
                        <option name="sort_by" value="Name">Name of manifestation</option>
                        <option name="sort_by" value="Date">Date of manifestation</option>
                        <option name="sort_by" value="Time">Time of manifestation</option>
                        <option name="sort_by" value="Price">Price ticket</option>
                        <option name="sort_by" value="Place">Place of manifestation</option>
                    </select>
                </div>
                <a onclick="Filter()"><span class="glyphicon glyphicon-filter"></span></a>
                <div class="form-group">
                    <select name="filter" id="filter" style="height:30px;border: 1px solid #ccc;border-radius: 4px;">
                        <option name="order" value="Koncert">Concert</option>
                        <option name="order" value="Pozoriste">Theater</option>
                        <option name="order" value="Festival">Festival</option>
                    </select>
                </div>
            </form><br /><br />

            <div id="event">

            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script>

    <script>
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        function getManifestation() {
            var manifestations = document.getElementsByClassName("thumbnail");
            var values = [];

            for (var i = 0; i < manifestations.length; i++) {
                var type = manifestations[i].children[0].children[0].children[0].innerText;
                var img = manifestations[i].children[0].children[1].currentSrc;
                var name = manifestations[i].children[1].children[0].innerHTML;
                var place = manifestations[i].children[1].children[1].innerHTML;
                var price = manifestations[i].children[1].children[2].innerHTML;
                var date_time = manifestations[i].children[1].children[3].innerHTML.split(' ');
                var tickets = manifestations[i].children[1].children[4].innerHTML;
                var event = {
                    "Type": type,
                    "Image": img,
                    "Name": name,
                    "Place": place,
                    "Price": price,
                    "Date": date_time[0],
                    "Time": date_time[1],
                    "Tickets": tickets
                };
                values.push(event);
            }
            return values;
        }

        //filter po kategoriji radi se po  manifestacijama koje su na ekranu
        function Filter() {
            var data = [];
            data = getManifestation();

            var filterType = $("#filter option:selected").val();
            var events = [];

            for (var i = 0; i < data.length; i++) {
                if (data[i].Type == filterType) {
                    events.push(data[i]);
                }
            }
            $("div#event").empty();
            for (var i = 0; i < events.length; i++) {
                $("div#event").append('<div class="col-md-4 col-lg-3">' +
                    '<div class="thumbnail" style="border: 2px solid #ccc; border-color: #45a049; background:transparent;">' +
                    '<a href="' + events[i].Image + '" target="_blank">' +
                        '<div class="caption">' +
                            '<p class="type" style="font-size:18px;color:#45a049">' + events[i].Type + '</p>' +
                        '</div>' +
                        '<img src="' + events[i].Image + '" alt="Lights" style="width:100%; height:150px">' +
                    '</a>' +
                    '<div class="caption">' +
                    '<p class="name" style="font-size:10px;">' + events[i].Name + '</p>' +
                    '<p class="palce" style="font-size:10px;">' + events[i].Place+ '</p>' +
                    '<p class="price" style="font-size:10px;">' + events[i].Price + ',00rsd</p>' +
                    '<p class="datetime" style="font-size:10px;">' + events[i].Date + " " + events[i].Time + 'h</p>' +
                    '<p class="places" style="font-size:10px;" hidden>' + data[i].Tickets + '</p>' +
                    '</div>' +
                    '</div>' +
                    '</div>');
            }
        };

        //sort
        function SortBy(a, b) {
            var $form = $("#sort_form");
            var data = getFormData($form);
            var sort_by = data.sort_by;
            var order = data.order;
            var aValue = "";
            var bValue = "";
            if (sort_by == "Name") {
                aValue = a.Name.toLowerCase();
                bValue = b.Name.toLowerCase();
            }
            else if (sort_by == "Price") {
                aValue = a.Price.toLowerCase();
                bValue = b.Price.toLowerCase();
            }
            else if (sort_by == "Place") {
                aValue = a.Place.toLowerCase();
                bValue = b.Place.toLowerCase();
            }
            else if (sort_by == "Time") {
                aValue = a.Time;
                bValue = b.Time;
            }
            else {
                var aValues = a.Date.toLowerCase().split('god');
                var bValues = b.Date.toLowerCase().split('god');

                var aDates = aValues[0].split('.');
                var aDate = aDates[2] + '-' + aDates[1] + '-' + aDates[0];

                var bDates = bValues[0].split('.');
                var bDate = bDates[2] + '-' + bDates[1] + '-' + bDates[0];

                aValue = aDate;
                bValue = bDate;
                if (order == "Increase") {
                    return Date.parse(aValue) > Date.parse(bValue) ? 1 : -1;
                }
                else {
                    return Date.parse(aValue) < Date.parse(bValue) ? 1 : -1;
                }
            }

            if (order == "Increase") {
                return ((aValue < bValue) ? -1 : ((aValue > bValue) ? 1 : 0));
            }
            else {
                return ((aValue > bValue) ? -1 : ((aValue < bValue) ? 1 : 0));
            }
        }
        
        function Sort() {
            var values = [];
            values = getManifestation();

            var events = [];
            events = values.sort(SortBy);
            $("div#event").empty();
            for (var i = 0; i < events.length; i++) {

                $("div#event").append('<div class="col-md-4 col-lg-3">' +
                                            '<div class="thumbnail" style="border: 2px solid #ccc; border-color: #45a049; background:transparent;">' +
                                                '<a href="' + events[i].Image + '" target="_blank">' +
                                                    '<div class="caption">' +
                                                        '<p class="type" style="font-size:18px;color:#45a049">' + events[i].Type + '</p>' +
                                                    '</div>' +
                                                    '<img src="' + events[i].Image + '" alt="Lights" style="width:100%; height:150px">' +
                                                '</a>' +
                                                '<div class="caption">' +
                                                    '<p class="name" style="font-size:10px;">' + events[i].Name + '</p>' +
                                                    '<p class="palce" style="font-size:10px;">' + events[i].Place + '</p>' +
                                                    '<p class="price" style="font-size:10px;">' + events[i].Price + '</p>' +
                                                    '<p class="datetime" style="font-size:10px;">' + events[i].Date + " " + events[i].Time + '</p>' +
                                                    '<p class="datetime" style="font-size:10px;" hidden>' + events[i].Tickets + '</p>' +
                                                '</div>' +
                                            '</div>' +
                                        '</div>');
            }
        };

        //filter rasprodatih dogadjaja ide po dogadjajima koji su na ekranu
        $('input[name=filter]').on("change", function () {
                $('input[name=filter]').not(this).prop('checked', false);
                var checked = $('input[name=filter]:checked');
                if (checked.length < 1) {
                    window.location.href = "@Url.Action("Index", "View")";
                }
                else {
                    var filter_by = $('input[name=filter]:checked').val();
                    var values = [];
                    var events = [];
                    values = getManifestation();

                    $("div#event").empty();
                    for (var i = 0; i < values.length; i++) {
                        if (filter_by == "unsold") {
                            if (values[i].Tickets != "0") {
                                events.push(values[i]);
                            }
                        }
                        else {
                            if (values[i].Tickets == "0") {
                                events.push(values[i]);
                            }
                        }
                    }

                    for (var i = 0; i < events.length; i++) {
                        $("div#event").append('<div class="col-md-4 col-lg-3">' +
                                                    '<div class="thumbnail" style="border: 2px solid #ccc; border-color: #45a049; background:transparent;">' +
                                                        '<a href="' + events[i].Image + '" target="_blank">' +
                                                            '<div class="caption">' +
                                                                '<p class="type" style="font-size:18px;color:#45a049">' + events[i].Type + '</p>' +
                                                            '</div>' +
                                                            '<img src="' + events[i].Image + '" alt="Lights" style="width:100%; height:150px">' +
                                                        '</a>' +
                                                        '<div class="caption">' +
                                                            '<p class="name" style="font-size:10px;">' + events[i].Name + '</p>' +
                                                            '<p class="palce" style="font-size:10px;">' + events[i].Place + '</p>' +
                                                            '<p class="price" style="font-size:10px;">' + events[i].Price + '</p>' +
                                                            '<p class="datetime" style="font-size:10px;">' + events[i].Date + " " + events[i].Time + '</p>' +
                                                            '<p class="datetime" style="font-size:10px;" hidden>' + events[i].Tickets + '</p>' +
                                                        '</div>' +
                                                    '</div>' +
                                                '</div>');
                    }
                }
        });
        
        function Search() {
            var name = $("#name").val();
            var place = $("#place").val();
            var date = $("#date").val();
            var priceFrom = $("#priceFrom").val();
            var priceTo = $("#priceTo").val();

            $.ajax({
                url: "/user/search",
                type: "GET",
                data: {
                    'name': name,
                    'place': place,
                    'date': date,
                    'priceFrom': priceFrom,
                    'priceTo': priceTo
                },
                contentType: "application/json",
                complete: function (data) {
                    $("div#event").empty();
                    for (var i = 0; i < data.responseJSON.length; i++) {
                        var date = data.responseJSON[i].DateOfManifestation.split('-');
                        var Date = date[2] + "." + date[1] + "." + date[0] + ".";
                        $("div#event").append('<div class="col-md-4 col-lg-3">' +
                                                    '<div class="thumbnail" style="border: 2px solid #ccc; border-color: #45a049; background:transparent;">' +
                                                        '<a href="/Images/' + data.responseJSON[i].Image + '" target="_blank">' +
                                                            '<div class="caption">' +
                                                                '<p class="type" style="font-size:18px;color:#45a049">' + data.responseJSON[i].Type + '</p>' +
                                                            '</div>' +
                                                            '<img src="/Images/' + data.responseJSON[i].Image + '" alt="Lights" style="width:100%; height:150px">' +
                                                        '</a>' +
                                                            '<div class="caption">' +
                                                            '<p class="name" style="font-size:10px;">' + data.responseJSON[i].Name + '</p>' +
                                                            '<p class="palce" style="font-size:10px;">' + data.responseJSON[i].PlaceOfManifestation.City + "," + data.responseJSON[i].PlaceOfManifestation.Street_Num + '</p>' +
                                                            '<p class="price" style="font-size:10px;">' + data.responseJSON[i].PriceOfTicket + ',00rsd</p>' +
                                                            '<p class="datetime" style="font-size:10px;">' + Date + "god " + data.responseJSON[i].TimeOfManifestation + 'h</p>' +
                                                            '<p class="places" style="font-size:10px;" hidden>' + data.responseJSON[i].NumberOfTickets + '</p>' +
                                                            '</div>' +
                                                        '</div>' +
                                                '</div>');
                        }
                }
            });
        }
    </script>
</div>