﻿<head>
    <style>
        h1 {
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 72px;
            background-color: red;
            /* Create the gradient. */
            background-image: linear-gradient(45deg, #ecf013, #f00a24);
            background-size: 100%;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            if (sessionStorage.getItem('role') == "Seller") {
                var ascces_token = sessionStorage.getItem('accessToken');
                var headers = {};
                headers.Authorization = 'Bearer ' + ascces_token;

                $.ajax({
                    url: "/seller/getMyManifestations",
                    type: "GET",
                    headers: headers,
                    complete: function (data) {
                        $("div#event").empty();
                        if (data.responseJSON.length == 0) {
                            $("div#event").append('<p style="font-size: 24px;">You do not have any registered manifestation. ' +
                                '<a href="/View/AddManifestation" style="color:orange">Add one</a></p >');
                        }
                        for (var i = 0; i < data.responseJSON.length; i++) {
                            var date = data.responseJSON[i].DateOfManifestation.split('-');
                            var Date = date[2] + "." + date[1] + "." + date[0] + ".";
                            $("div#event").append('<div class="col-md-4 col-lg-3">' +
                                '<div class="thumbnail" style="border: 2px solid #ccc; border-color: #45a049; background:transparent;">' +
                                '<a href="/View/Event?name=' + data.responseJSON[i].Name + '" target="_blank">' +
                                '<div class="caption">' +
                                '<p class="type" style="font-size:18px;color:#45a049">' + data.responseJSON[i].Type + '</p>' +
                                '</div>' +
                                '<img src="/Images/' + data.responseJSON[i].Image + '" alt="Lights" style="width:100%; height:150px">' +
                                '</a>' +
                                '<div class="caption">' +
                                '<p class="name" style="font-size:10px;">' + data.responseJSON[i].Name + '</p>' +
                                '<p class="palce" style="font-size:10px;">' + data.responseJSON[i].PlaceOfManifestation.City + "," + data.responseJSON[i].PlaceOfManifestation.Street_Num + '</p>' +
                                '<p class="price" style="font-size:10px;">' + data.responseJSON[i].PriceOfTicket + ',00rsd</p>' +
                                '<p class="datetime" style="font-size:10px;">' + Date + "god " + data.responseJSON[i].TimeOfManifestation + 'h</p>' +
                                '<p class="places" style="font-size:10px;" hidden>' + data.responseJSON[i].NumberOfTickets + '</p>' +
                                '<p class="places" style="font-size:10px;">' + data.responseJSON[i].Status + '</p>' +
                                '</div>' +
                                '</div>' +
                                '</div>');
                        }
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('accesToken', ascces_token);
                    }
                });
            }
            else {
                var ascces_token = sessionStorage.getItem('accessToken');
                var headers = {};
                headers.Authorization = 'Bearer ' + ascces_token;

                $.ajax({
                    url: "/admin/inactive",
                    type: "GET",
                    headers: headers,
                    complete: function (data) {
                        $("div#event").empty();
                        if (data.responseJSON.length == 0) {
                            $("div#event").append('<p style="font-size: 24px;">There is no new manifestation.');
                        }
                        for (var i = 0; i < data.responseJSON.length; i++) {
                            var date = data.responseJSON[i].DateOfManifestation.split('-');
                            var Date = date[2] + "." + date[1] + "." + date[0] + ".";
                            $("div#event").append('<div class="col-md-4 col-lg-3">' +
                                '<div class="thumbnail" style="border: 2px solid #ccc; border-color: #45a049; background:transparent;">' +
                                '<a href="/View/Event?name=' + data.responseJSON[i].Name + '" target="_blank">' +
                                '<div class="caption">' +
                                '<p class="type" style="font-size:18px;color:#45a049">' + data.responseJSON[i].Type + '</p>' +
                                '</div>' +
                                '<img src="/Images/' + data.responseJSON[i].Image + '" alt="Lights" style="width:100%; height:150px">' +
                                '</a>' +
                                '<div class="caption">' +
                                '<p class="name" style="font-size:10px;">' + data.responseJSON[i].Name + '</p>' +
                                '<p class="palce" style="font-size:10px;">' + data.responseJSON[i].PlaceOfManifestation.City + "," + data.responseJSON[i].PlaceOfManifestation.Street_Num + '</p>' +
                                '<p class="price" style="font-size:10px;">' + data.responseJSON[i].PriceOfTicket + ',00rsd</p>' +
                                '<p class="datetime" style="font-size:10px;">' + Date + "god " + data.responseJSON[i].TimeOfManifestation + 'h</p>' +
                                '<p class="places" style="font-size:10px;" hidden>' + data.responseJSON[i].NumberOfTickets + '</p>' +
                                '<p class="places" style="font-size:10px;">' + data.responseJSON[i].Status + '</p>' +
                                '</div>' +
                                '</div>' +
                                '</div>');
                        }
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('accesToken', ascces_token);
                    }
                });
            }
        });
    </script>
</head>

<div class="container-fluid">
    <h1>My manifestations</h1><br/><br/>
    <div id="event">

    </div>
</div>

