﻿<head>
    @Scripts.Render("~/bundles/jquery")
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <style>
        td.data_name {
            font-size: 26px;
            color: #4CAF50;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: left;
        }

        td {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: left;
            font-size: 18px;
        }

        table {
            border-collapse: collapse;
            width: 70%;
        }

        .center {
            margin: auto;
            width: 70%;
            padding: 50px;
            float: right;
        }

        h1 {
            font-size: 36px;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background: -webkit-linear-gradient( #808080, #4CAF50);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
    <script>
        var ascces_token = sessionStorage.getItem('accessToken');
        var headers = {};
        headers.Authorization = 'Bearer ' + ascces_token;
        $.ajax({
            url: "/account/getuserinfo",
            type: "GET",
            headers: headers,
            contentType: "application/json",
            dataType: "json",
            complete: function (response) {
                var gender;
                if (response.responseJSON.Gender == "Male") {
                    gender = "Female";
                }
                else {
                    gender = "Male";
                }
                if (sessionStorage.getItem('role') == "Customer") {
                    $("div#info").append('<table>' +
                        '<tr>' +
                        '<td class="data_name">Name:</td>' +
                        '<td>' + response.responseJSON.Name + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Surname:</td>' +
                        '<td>' + response.responseJSON.Surname + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Username:</td>' +
                        '<td>' + response.responseJSON.Username + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Password:</td>' +
                        '<td>' + response.responseJSON.Password + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Date of birthday:</td>' +
                        '<td>' + response.responseJSON.DateOfBDay + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Gender:</td>' +
                        '<td>' + response.responseJSON.Gender + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Points:</td>' +
                        '<td>' + response.responseJSON.Points + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Type:</td>' +
                        '<td>' + response.responseJSON.Type + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Role:</td>' +
                        '<td>' + response.responseJSON.Role + '</td >' +
                        '</tr>' +
                        '</table>')
                }
                else {
                    $("div#info").append('<table>' +
                        '<tr>' +
                        '<td class="data_name">Name:</td>' +
                        '<td>' + response.responseJSON.Name + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Surname:</td>' +
                        '<td>' + response.responseJSON.Surname + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Username:</td>' +
                        '<td>' + response.responseJSON.Username + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Password:</td>' +
                        '<td>' + response.responseJSON.Password + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Date of birthday:</td>' +
                        '<td>' + response.responseJSON.DateOfBDay + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Gender:</td>' +
                        '<td>' + response.responseJSON.Gender + '</td >' +
                        '</tr>' +
                        '<tr>' +
                        '<td class="data_name">Role:</td>' +
                        '<td>' + response.responseJSON.Role + '</td >' +
                        '</tr>' +
                        '</table>')
                }
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader('accesToken', ascces_token);
            }
        });
    </script>
</head>

<div class="container">
    <h1>My Profile</h1>
    <div class="center">
        <div class="col-sm-9 col-md-6 col-lg-8" id="info">

        </div>
    </div>
</div>

