﻿<head>
    @Scripts.Render("~/bundles/jquery")
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <link href="~/Content/SignInStyle.css" rel="stylesheet" />
</head>

<div style="width:600px; margin:0 auto;">
    <h1 style="color:#4CAF50">Log In</h1>

    <div>
        <form id="form">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username..">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password.."> <label class="icon" style="width:20px"><input type="checkbox" /><span class="glyphicon glyphicon-eye-close" id="span"></span></label><label for="password" class="error" style="display:none;"></label>
            </div>
            <div>
                <input type="submit" id="button1" value="Submit" />
            </div>
            <div>
                <label style="width:50%; color: red;" id="msg"></label>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $("#span").click(function () {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
                $('#span').removeClass('glyphicon glyphicon-eye-close').addClass('glyphicon glyphicon-eye-open');
            } else {
                x.type = "password";
                $('#span').removeClass('glyphicon glyphicon-eye-open').addClass('glyphicon glyphicon-eye-close');
            }
        });

        $("form[id='form']").validate({
                rules: {
                    username: {
                        required: true,
                    },
                    'password': 'required'
                },
                messages: {
                    username: 'This field is required',
                    password: 'This field is required'
                },
                submitHandler: function () {
                    var username = $("#username").val();
                    var password = $("#password").val();
                    $.ajax({
                        url: "/token",
                        type: "POST",
                        data: $.param({ grant_type: 'password', username: $("#username").val(), password: $("#password").val() }),
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                        success: function (resp) {
                            sessionStorage.setItem('username', resp.username);
                            sessionStorage.setItem('role', resp.role);
                            sessionStorage.setItem('accessToken', resp.access_token);
                            var authHeaders = {};
                            authHeaders.Authorization = 'Bearer ' + resp.access_token;
                            $.ajax({
                                url: "/account/signin",
                                type: "GET",
                                headers: authHeaders,
                                data: { 'username': username, 'password': password },
                                contentType: "application/json",
                                dataType: "json",
                                complete: function (response) {
                                    window.location = "@Url.Action("Index", "View")";
                                }

                            });
                        },
                        error: function () {
                            $("#msg").text("Wrong username/password");
                        }
                    });
                }
            });
            $("#form").removeAttr("novalidate");
    </script>
</div>

