﻿
@{
    ViewBag.Title = "SignUp";
}
<head>
    @Scripts.Render("~/bundles/jquery")
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <link href="~/Content/SignUpStyle.css" rel="stylesheet" />
</head>

<div style="width:900px; margin:0 auto;">
    <br />
    <h1 style="color:#4CAF50">Sign Up</h1><br />
    <div>
        <form id="form">
            <div>
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" placeholder="Your name.." />
            </div>
            <div>
                <label for="surname">Surname: </label>
                <input type="text" id="surname" name="surname" placeholder="Your last name..">
            </div>
            <div>
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" placeholder="Username..">
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" placeholder="Password.." /><label class="icon" style="margin-left:1em; width:20px"><input type="checkbox" /><span class="glyphicon glyphicon-eye-close" id="span"></span></label><label for="password" class="error" style="display:none;"></label>
            </div>
            <div>
                <label for="dateOfBDay">Date of BirthDay: </label>
                <input type="date" id="dateOfBDay" name="dateOfBDay" placeholder="mm/dd/yyyy..">
            </div>
            <div>
                <label for="gender">Gender: </label>
                <input type="radio" name="gender" id="gender" value="Male" /> Male
                <input type="radio" name="gender" id="gender" value="Female" /> Female
                <label for="gender" class="error" style="display:none;">Please choose one.</label>
            </div>
            <br />
            <div>
                <input type="submit" id="button" value="Submit" />
            </div>
        </form>

        <script type="text/javascript">
            $("#span").click(function () {
                var x = document.getElementById("password");
                if (x.type === "password") {
                    x.type = "text";
                    $('#span').removeClass('glyphicon glyphicon-eye-close').addClass('glyphicon glyphicon-eye-open');
                } else {
                    x.type = "password";
                    $('#span').removeClass('glyphicon glyphicon-eye-open').addClass('glyphicon glyphicon-eye-close');
                }
            });

            jQuery.validator.addMethod("lettersonly", function (value, element) {
                return this.optional(element) || /^[a-zA-Z]+$/i.test(value);
            }, "Letters only please");

            $("form[id='form']").validate({
                rules: {
                    name: {
                        required: true,
                        lettersonly: true
                    },
                    surname: 'required',
                    username: {
                        required: true,
                    },
                    'password': {
                        required: true,
                        minlength: 8,
                    },
                    dateOfBDay: 'required',
                    'gender': {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: 'This field is required',
                        lettersonly: 'Name must contain only letters'
                    },
                    surname: {
                        required: 'This field is required',
                        lettersonly: 'Surname must contain only letters'
                    },
                    username: 'This field is required',
                    password: {
                        required: 'This field is required',
                        minlength: 'Password must be at least 8 characters long'
                    },
                    dateOfBDay: 'This field is required',
                    gender: 'This field is required'
                },
                submitHandler: function () {
                    var $form = $("#form");
                    var data = getFormData($form);
                    var newUser = JSON.stringify(data);
                    $.ajax({
                        url: "/account/signup",
                        type: "POST",
                        data: newUser,
                        contentType: "application/json",
                        dataType: "json",
                        complete: function (response) {
                            if (response.responseJSON == "wrong") {
                                alert("Already exist a user with that username. Try another one.");
                            }
                            else {
                                alert(response.responseJSON);
                                window.location = "@Url.Action("SignIn", "View")";
                            }
                        }
                    });
                }
            });
            $("#form").removeAttr("novalidate");


            function getFormData($form) {
                var unindexed_array = $form.serializeArray();
                var indexed_array = {};

                $.map(unindexed_array, function (n, i) {
                    indexed_array[n['name']] = n['value'];
                });

                return indexed_array;
            }
        </script>
    </div>
</div>