﻿<head>
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" />
    <link href="~/Content/AllUsersStyle.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var ascces_token = sessionStorage.getItem('accessToken');
            var headers = {};
            headers.Authorization = 'Bearer ' + ascces_token;
            if (sessionStorage.getItem('role') == "Customer") {
                $("h2#title").empty();
                $("h2#title").append('Your tickets');
                $.ajax({
                    url: "/customer/mytickets",
                    type: "GET",
                    contentType: "application/json",
                    dataType: "json",
                    headers: headers,
                    complete: function (data, status) {
                        $("tbody#alltickets").empty();
                        for (var i = 0; i < data.responseJSON.length; i++) {
                            $("tbody#alltickets").append('<tr>' +
                                '<td class="id" >' + data.responseJSON[i].ID + '</td>' +
                                '<td class="man">' + data.responseJSON[i].ReseverdManifestation + '</td>' +
                                '<td class="dt">' + data.responseJSON[i].DateAndTimeManifestation + '</td>' +
                                '<td class="price">' + data.responseJSON[i].Price + '</td>' +
                                '<td class="customer">' + data.responseJSON[i].CustomerName + '</td>' +
                                '<td class="status">' + data.responseJSON[i].Status + '</td>' +
                                '<td class="type">' + data.responseJSON[i].Type + '</td>' +
                                '<td> <button style="background-color: #4CAF50; color: white;" id="cancel">Cancel</button></td>' +
                                '</tr >');
                        }
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('accesToken', ascces_token);
                    }
                });
                $("#alltickets").on("click", "#cancel", function () {
                    var tr = $(this).closest('tr');
                    var id = tr.find('.id').text();
                    var man = tr.find('.man').text();
                    var dt = tr.find('.dt').text();
                    var price = tr.find('.price').text();
                    var customer = tr.find('.customer').text();
                    var status = tr.find('.status').text();
                    var type = tr.find('.type').text();

                    var jsonObject = {
                        "ID": id,
                        "ReseverdManifestation": man,
                        "DateAndTimeManifestation": dt,
                        "Price": price,
                        "CustomerName": customer,
                        "Status": status,
                        "Type": type
                    };

                    var answer = confirm('Are you sure you want to cancle ticket?');
                    if (answer) {
                        var ticket = JSON.stringify(jsonObject)
                        $.ajax({
                            url: "/customer/cancelticket",
                            type: "PUT",
                            data: ticket,
                            contentType: "application/json",
                            dataType: "json",
                            headers: headers,
                            complete: function (response) {
                                alert(response.responseText);
                                window.location.reload();
                            },
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('accesToken', ascces_token);
                            }
                        });
                    }
                    else {
                        console.log('cancel');
                    }
                });
            }
            else if (sessionStorage.getItem('role') == "Seller") {
                $("h2#title").empty();
                $("h2#title").append('Reserved tickets for your manifestations');
                $.ajax({
                    url: "/seller/tickets",
                    type: "GET",
                    headers: headers,
                    complete: function (data, status) {
                        $("tbody#alltickets").empty();
                        for (var i = 0; i < data.responseJSON.length; i++) {
                            $("tbody#alltickets").append('<tr>' +
                                '<td class="id" >' + data.responseJSON[i].ID + '</td>' +
                                '<td class="man">' + data.responseJSON[i].ReseverdManifestation + '</td>' +
                                '<td class="dt">' + data.responseJSON[i].DateAndTimeManifestation + '</td>' +
                                '<td class="price">' + data.responseJSON[i].Price + '</td>' +
                                '<td class="customer">' + data.responseJSON[i].CustomerName + '</td>' +
                                '<td class="status">' + data.responseJSON[i].Status + '</td>' +
                                '<td class="type">' + data.responseJSON[i].Type + '</td>' +
                                '<td> <button style="background-color: #4CAF50; color: white;" id="cancel">Cancel</button></td>' +
                                '</tr >');
                        }
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('accesToken', ascces_token);
                    }
                });
            }
            else {
                $("h2#title").empty();
                $("h2#title").append('All tickets');
                $.ajax({
                    url: "/admin/tickets",
                    type: "GET",
                    headers: headers,
                    complete: function (data, status) {
                        $("tbody#alltickets").empty();
                        for (var i = 0; i < data.responseJSON.length; i++) {
                            $("tbody#alltickets").append('<tr>' +
                                '<td class="id" >' + data.responseJSON[i].ID + '</td>' +
                                '<td class="man">' + data.responseJSON[i].ReseverdManifestation + '</td>' +
                                '<td class="dt">' + data.responseJSON[i].DateAndTimeManifestation + '</td>' +
                                '<td class="price">' + data.responseJSON[i].Price + '</td>' +
                                '<td class="customer">' + data.responseJSON[i].CustomerName + '</td>' +
                                '<td class="status">' + data.responseJSON[i].Status + '</td>' +
                                '<td class="type">' + data.responseJSON[i].Type + '</td>' +
                                '<td> <button style="background-color: #4CAF50; color: white;" id="cancel">Cancel</button></td>' +
                                '</tr >');
                        }
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('accesToken', ascces_token);
                    }
                });
            }
        });
    </script>
    <style>
        input[type=text], input[type=date], #button {
            border-radius: 4px;
            border: none;
            text-align: center;
        }

        #button {
            background-color: greenyellow;
            width: 70px;
            transition-duration: 0.4s;
        }

        #button:hover {
            background-color: yellowgreen;
            color: white;
        }
    </style>
</head>
<div>
    <h2 id="title" style="text-align:center; color:green; font-size:42px;"></h2><br />
    <div style="margin: auto;width: 60%;border: 1px solid green; background-color:forestgreen;border-radius: 8px; padding: 7px; text-align: center; display:block;">
        <form id="search_form">
            <input style="width:150px; padding:5px;" type="text" id="manifest" name="manifest" placeholder="Manifestation name..">
            <input style="width:100px; padding:5px;" type="text" id="priceFrom" name="priceFrom" placeholder="100,00din">
            <label>-</label>
            <input style="width:100px; padding:5px;" type="text" id="priceTo" name="priceTo" placeholder="1000,00din">
            <span style="background: #fff; cursor: pointer; padding:7px 10px; border-radius: 4px; ">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i><input type="text" name="daterange" id="date" value="01/01/2020 - 01/15/2020" />
            </span>&nbsp;
            <input type="button" id="button" value="Search" onclick="Search()" />
        </form>
    </div><br /><br />
    <div>
        <form class="form-inline" id="sort_form">
            <a onclick="Sort()"><span class="glyphicon glyphicon-sort"></span></a>
            <div class="form-group">
                <select name="order" id="order" style="height:30px;border: 1px solid #ccc;border-radius: 4px;">
                    <option name="order" value="Increase">Increase</option>
                    <option name="order" value="Decrease">Decrease</option>
                </select>
            </div>
            <div class="form-group">
                <select name="sort_by" id="sort_by" style="height:30px;border: 1px solid #ccc;border-radius: 4px;">
                    <option name="sort_by" value="Name">Name of manifestation</option>
                    <option name="sort_by" value="Price">Price of ticket</option>
                    <option name="sort_by" value="Date">Date of manifestation</option>
                </select>
            </div>
            <a onclick="FilterType()"><span class="glyphicon glyphicon-filter"></span></a>
            <div class="form-group">
                <select name="filter1" id="filter1" style="height:30px;border: 1px solid #ccc;border-radius: 4px;">
                    <option name="order" value="Fan Pit">Fan pit</option>
                    <option name="order" value="VIP">VIP</option>
                    <option name="order" value="Regular">Regular</option>
                </select>
            </div>
            <a onclick="FilterStatus()"><span class="glyphicon glyphicon-filter"></span></a>
            <div class="form-group">
                <select name="filter2" id="filter2" style="height:30px;border: 1px solid #ccc;border-radius: 4px;">
                    <option name="order" value="Rezervisano">Reserve</option>
                    <option name="order" value="Otkazana">Cancle</option>
                </select>
            </div>
        </form>
    </div><br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Manifestation</th>
                <th>Date and time of manifestation</th>
                <th>Price of ticket</th>
                <th>Customer name</th>
                <th>Status</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody id="alltickets"></tbody>
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script>
    <script>
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        function getTickets() {
            var alltickets = [];
            var tickets = document.getElementById("alltickets");
            for (var i = 0; i < tickets.children.length; i++) {
                var id = tickets.children[i].children[0].innerHTML;
                var man_name = tickets.children[i].children[1].innerText;
                var date_time = tickets.children[i].children[2].innerText;
                var price = tickets.children[i].children[3].innerText;
                var cust_name = tickets.children[i].children[4].innerText;
                var status = tickets.children[i].children[5].innerText;
                var type = tickets.children[i].children[6].innerText;
                var ticket = {
                    "ID": id,
                    "ReseverdManifestation": man_name,
                    "DateAndTimeManifestation": date_time,
                    "Price": price,
                    "CustomerName": cust_name,
                    "Status": status,
                    "Type": type
                };
                alltickets.push(ticket);
            }
            return alltickets;
        }

        //filter
        function FilterStatus() {
            var data = [];
            data = getTickets();
            var filterType = $("#filter2 option:selected").val();
            var tickets = [];

            for (var i = 0; i < data.length; i++) {
                if (data[i].Status == filterType) {
                    tickets.push(data[i]);
                }
            }
            $("tbody#alltickets").empty();
            for (var i = 0; i < tickets.length; i++) {
                $("tbody#alltickets").append('<tr>' +
                    '<td class="id" >' + tickets[i].ID + '</td>' +
                    '<td class="man">' + tickets[i].ReseverdManifestation + '</td>' +
                    '<td class="dt">' + tickets[i].DateAndTimeManifestation + '</td>' +
                    '<td class="price">' + tickets[i].Price + '</td>' +
                    '<td class="customer">' + tickets[i].CustomerName + '</td>' +
                    '<td class="status">' + tickets[i].Status + '</td>' +
                    '<td class="type">' + tickets[i].Type + '</td>' +
                    '<td> <button style="background-color: #4CAF50; color: white;" id="cancel">Cancel</button></td>' +
                    '</tr >');
            }
        };

        function FilterType() {
            var data = [];
            data = getTickets();
            var filterType = $("#filter1 option:selected").val();
            var tickets = [];

            for (var i = 0; i < data.length; i++) {
                if (data[i].Type == filterType) {
                    tickets.push(data[i]);
                }
            }
            $("tbody#alltickets").empty();
            for (var i = 0; i < tickets.length; i++) {
                $("tbody#alltickets").append('<tr>' +
                    '<td class="id" >' + tickets[i].ID + '</td>' +
                    '<td class="man">' + tickets[i].ReseverdManifestation + '</td>' +
                    '<td class="dt">' + tickets[i].DateAndTimeManifestation + '</td>' +
                    '<td class="price">' + tickets[i].Price + '</td>' +
                    '<td class="customer">' + tickets[i].CustomerName + '</td>' +
                    '<td class="status">' + tickets[i].Status + '</td>' +
                    '<td class="type">' + tickets[i].Type + '</td>' +
                    '<td> <button style="background-color: #4CAF50; color: white;" id="cancel">Cancel</button></td>' +
                    '</tr >');
            }
        };

        //sort
        function SortBy(a, b) {
            var sort_by = $("#sort_by").val();
            var order = $("#order").val();
            var aValue = "";
            var bValue = "";
            if (sort_by == "Name") {
                aValue = a.ReseverdManifestation.toLowerCase();
                bValue = b.ReseverdManifestation.toLowerCase();
            }
            else if (sort_by == "Price") {
                aValue = a.Price.toLowerCase();
                bValue = b.Price.toLowerCase();
            }
            else {
                var aValues = a.DateAndTimeManifestation.toLowerCase().split(' ');
                var bValues = b.DateAndTimeManifestation.toLowerCase().split(' ');

                aValue = aValues[0];
                bValue = bValues[0];
                if (order == "Increase") {
                    return Date.parse(aValue) > Date.parse(bValue) ? 1 : -1;
                }
                else {
                    return Date.parse(aValue) < Date.parse(bValue) ? 1 : -1;
                }
            }

            if (order == "Increase") {
                return ((aValue < bValue) ? -1 : ((aValue > bValue) ? 1 : 0));
            }
            else {
                return ((aValue > bValue) ? -1 : ((aValue < bValue) ? 1 : 0));
            }
        }

        function Sort() {
            var datas = [];
            datas = getTickets();

            var tickets = [];
            tickets = datas.sort(SortBy);
            $("tbody#alltickets").empty();
            for (var i = 0; i < tickets.length; i++) {
                $("tbody#alltickets").append('<tr>' +
                    '<td class="id" >' + tickets[i].ID + '</td>' +
                    '<td class="man">' + tickets[i].ReseverdManifestation + '</td>' +
                    '<td class="dt">' + tickets[i].DateAndTimeManifestation + '</td>' +
                    '<td class="price">' + tickets[i].Price + '</td>' +
                    '<td class="customer">' + tickets[i].CustomerName + '</td>' +
                    '<td class="status">' + tickets[i].Status + '</td>' +
                    '<td class="type">' + tickets[i].Type + '</td>' +
                    '<td> <button style="background-color: #4CAF50; color: white;" id="cancel">Cancel</button></td>' +
                    '</tr >');
            }
        };

        //search
        function Search() {
            var name = $("#manifest").val();
            var date = $("#date").val();
            var priceFrom = $("#priceFrom").val();
            var priceTo = $("#priceTo").val();

            var ascces_token = sessionStorage.getItem('accessToken');
            var headers = {};
            headers.Authorization = 'Bearer ' + ascces_token;
            $.ajax({
                url: "/ticket/search",
                type: "GET",
                data: {
                    'name': name,
                    'date': date,
                    'priceFrom': priceFrom,
                    'priceTo': priceTo
                },
                headers: headers,
                complete: function (data) {
                    $("tbody#alltickets").empty();
                    for (var i = 0; i < data.responseJSON.length; i++) {
                        $("tbody#alltickets").append('<tr>' +
                            '<td class="id" >' + data.responseJSON[i].ID + '</td>' +
                            '<td class="man">' + data.responseJSON[i].ReseverdManifestation + '</td>' +
                            '<td class="dt">' + data.responseJSON[i].DateAndTimeManifestation + '</td>' +
                            '<td class="price">' + data.responseJSON[i].Price + '</td>' +
                            '<td class="customer">' + data.responseJSON[i].CustomerName + '</td>' +
                            '<td class="status">' + data.responseJSON[i].Status + '</td>' +
                            '<td class="type">' + data.responseJSON[i].Type + '</td>' +
                            '<td> <button style="background-color: #4CAF50; color: white;" id="cancel">Cancel</button></td>' +
                            '</tr >');
                    }
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('accesToken', ascces_token);
                }
            });
        }
    </script>
</div>

