﻿<head>
    <script src="jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <style>
        input[type=email], input[type=password], input[type=text], select {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 30%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 10px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        form label {
            width: 200px;
            color: #4CAF50;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        form div {
            margin-bottom: 10px;
        }

        .error {
            color: red;
            margin-left: 5px;
            font-size: 12px;
        }

        label.error {
            display: inline;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .center {
            margin: auto;
            width: 80%;
            padding: 10px;
        }

        .error {
            color: red;
            margin-left: 5px;
        }

        label.error {
            display: inline;
        }
    </style>
</head>
<body style="background-color:lightgray;">
    <div class="center">
        <div>
            <form id="form">
                <div>
                    <label for="password">New Password</label><br />
                    <input type="password" id="password1" name="password1" placeholder="New password.."><label class="error" id="password1"></label>
                </div>
                <div>
                    <label for="password">Confirm password</label><br />
                    <input type="password" id="password2" name="password2" placeholder="Confirm password.."><label class="error" id="password1"></label>
                </div>
                <div>
                    <input type="checkbox" onclick="myFunction()">Show Password
                </div>
                <div>
                    <input type="submit" id="button1" value="Submit" />
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("password1");
            var y = document.getElementById("password2");
            if (x.type === "password" || y.type === "password") {
                x.type = "text";
                y.type = "text";
            } else {
                x.type = "password";
                y.type = "password";
            }
        };
        $("form[id='form']").validate({
            rules: {
                'password1': {
                        required: true,
                        minlength: 8,
                },
                'password2': 'required',
            },
            messages: {
                'password1': {
                    required: 'This field is required',
                    minlength: 'Password must be at least 8 characters long'
                },
                'password2': 'This field is required',
            },
            submitHandler: function () {
                var pass1 = $("#password1").val();
                var pass2 = $("#password2").val();
                if (pass1 != pass2) {
                    alert("Password are not the same!");
                }
                else {
                    var ascces_token = sessionStorage.getItem('accessToken');
                    var headers = {};
                    headers.Authorization = 'Bearer ' + ascces_token;
                    $.ajax({
                        url: "/account/changepass",
                        type: "PUT",
                        data: {
                            "": pass1,
                        },
                        dataType: 'json',
                        headers: headers,
                        success: function (response) {
                            alert("You have successfully changed the password.");
                            window.close();
                        },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('accesToken', ascces_token);
                        }
                    });
                }
            }
        });
        $("#form").removeAttr("novalidate");

    </script>
</body>